<title>Profile</title>
<h1>View your profile</h1>

<p id="notice"><%= notice %></p>

<div class="row">
  <div class="span6 offset3">

      <table> 
            <tr>
                  <td> First Name: </td>
                  <td><%= @user.first_name %></td>
            </tr>
            <tr>
                  <td> Last Name: </td>
                  <td><%= @user.last_name %></td>
            </tr>
            <tr>
                  <td> Email: </td>
                  <td><%= @user.email %></td>
            </tr>
            <tr>
                  <td> Phone </td>
                  <td><%= @user.phone %></td>
            </tr>
            <tr>
                  <td> Company: </td>
                  <td><%= @user.company %></td>
            </tr>
            <tr>
                  <td> Addres: </td>
                  <td><%= @user.address %></td>
            </tr>
            <tr>
                  <td> City: </td>
                  <td><%= @user.city %></td>
            </tr>
            <tr>
                  <td> State: </td>
                  <td><%= @user.state %></td>
            </tr>
            <tr>
                  <td> Zip: </td>
                  <td><%= @user.zip %></td>
            </tr>
      </table>

	<%= link_to "Edit", edit_user_path(@user) %>	
	<br> <!-- enters a blank line, ie: line break -->
	<br> <!-- enters a blank line, ie: line break -->
	<br> <!-- enters a blank line, ie: line break -->
	<br> <!-- enters a blank line, ie: line break -->
   </div>
</div>
