<tr>
  	<td><%= @site_load_profile.meter_read_date %></td>
  	<td><%= @site_load_profile.tou %></td>
  	<td><%= @site_load_profile.demand %></td>
  	<td><%= @site_load_profile.usage %></td>
  	<td><%= link_to "Edit", 	edit_user_path(@user) %></td>
	<td><%= link_to "Select", 	edit_user_path(@user) %></td>
	<td><%= link_to "Delete", 	edit_user_path(@user) %></td>
</tr>